.mar-top-20.footer
  %h1
    Know any good GeoGems? Email
    %a{:href=>'mailto:geogems@gmail.com'} geogems@gmail.com
  %p Subject: GeoGems &nbsp;&nbsp;Include: city, state, description of your GeoGem -- and whether you would like it attributed to you if used.<br> <b>Thanks!</b>
  .center
    %ul
      %li
        %a{:href=>'about'} About Us
      %li
        %a{:href=>'sources'} Sources
      %li
        %a{:href=>'/'} Related Links