<div id="pages_content_home" class="wrapper">
  <div class="pages_content">
    <center><h1>About GeoGems</h1></center>
    <p>
      In summer 1971, I took a cross-country road trip, from New York to golden California – every East Coast college student’s dream. There were many
      highlights, but two turned out to be the seeds of GeoGems.
    </p>
    <p>
      Stopping to eat a sandwich under some trees in Polo, Missouri, two things struck me. First, a town named Polo – how odd! Second, the trees surrounded a
      park consisting of a square grassy space bounded by sidewalks with square stones on the corners. Inscribed on one of the squares was “172 triples”. The
      sidewalks were base paths, and I was looking at third base! Rounding the bases backwards (476 doubles, 2104 singles), at home plate (132 homers) I learned
      that this was a memorial park in honor of Zach Wheat, a Brooklyn Dodger great in the early 1900s who was born nearby. The Dodgers, my team! Zach Wheat, an
      obscure but mythical star whose name I remembered! All in the middle of nowhere -- cool!
    </p>
    <p>
      Then, 2000 miles later, driving down the California coast, I saw a billboard advertising “Castroville – Artichoke Capital of the World.” And then a few
      miles further on, another sign announcing simply “Artichoke Capital of the World.” Wow, dueling artichoke capitals, or maybe one town split between warring
      artichoke factions!
    </p>
    <p>
      With that, GeoGems was born. I’ve been collecting them ever since.
    </p>
    <p>
      <a name="_GoBack"></a>
      I hope you enjoy this growing and evolving collection of geographic trivia – for planning a road trip, for modifying a road trip en route, or just for
      browsing. And as you find your own GeoGems, please consider adding them to this site.
    </p>
    <p>
      Thanks!
    </p>
  </div>
</div>
