<div id="pages_content_home" class="wrapper">
  <div class="pages_content">
    <center>
      <h1>Sources for GeoGems</h1>
    </center>
    <p>
      The GeoGems on this site came from personal experience (randomly visited places, read somewhere, heard somewhere, random online searches discoveries) and
      the following books:
    </p>
    <p>
      <em>All Over the Map: An extraordinary Atlas of the United States</em>
      – David Jouris (Ten Speed Press, 1994) [funny names]
    </p>
    <p>
      <em>Amazing America</em>
      -- Jane &amp; Michael Stern (David Obst Books, Random House, 1978)
    </p>
    <p>
      <em>Amazing US Geography</em>
      – Andrea Sutcliffe (John Wiley &amp; Sons, 2001)
    </p>
    <p>
      <em>America Bizarro</em>
      -- Nelson Taylor (St. Martin’s Griffin, 2000)
    </p>
    <p>
      <em>America’s Most Charming Towns &amp; Villages</em>
      – Larry T. Brown (Open Road Publishing, Cold Spring Harbor, NY, 2004)
    </p>
    <p>
      <em>America’s Strangest Museums: A Traveler’s Guide to the Most Unusual and Eccentric Collections</em>
      – Sandra Gurvis (Citadel Press, 1996)
    </p>
    <p>
      <em>An Eccentric Guide to the United States</em>
      – James Dale Davidson (Berkley Publishing, 1977)
    </p>
    <p>
      <em>Best Small Towns</em>
      – Norm Crampton (M. Evans and Company, NY, 2002)
    </p>
    <p>
      <em>Birthplaces USA</em>
      – A. J. Mullay (Edinburgh, UK: Wherewithal Books, 1998)
    </p>
    <p>
      <em>Cities Ranked &amp; Rated</em>
      – Bert Sperling &amp; Peter Sander (Wiley, Hoboken, 2004)
    </p>
    <p>
      <em>Don’t Know Much About the 50 States</em>
      – Kenneth C. Davis (Harper Collins, 2001)
    </p>
    <p>
      <em>Eccentric America</em>
      – Jan Friedman (Bradt Travel Guides/Globe Pequot Press, 2004)
    </p>
    <p>
      <em>Fifty Fabulous Places to Raise a Family</em>
      -- Lee Rosenberg &amp; Saralee H. Rosenberg (Career Press, 1993)
    </p>
    <p>
      <em>Food Festival, USA</em>
      – Becky Mercouri (Laurel Glen, 2002)
    </p>
    <p>
      <em>From Fiddletown to Tuba City</em>
      – Philip Thayer &amp; Robert Gumpertz (Workman, 1982) [funny names]
    </p>
    <p>
      <em>Fun Along the Road: American Tourist Attractions</em>
      – John Margolies (Little, Brown &amp; Co., 2002)
    </p>
    <p>
      <em>Little Museums--</em>
      Lynne Arany &amp; Archie Hobson (Henry Holt &amp; Co., 1998)
    </p>
    <p>
      <em>Offbeat Museums</em>
      -- Saul Rubin (Santa Monica Press, 1997)
    </p>
    <p>
      <em>Passing Gas and Other Towns Along the American Highway</em>
      – Gary Gladstone (Ten Speed Press, 2003) [funny names]
    </p>
    <p>
      <em>Places Rated Almanac</em>
      -- David Savageau &amp; Geoffrey Loftus (Macmillan, 1997)
    </p>
    <p>
      <em>Retirement Places Rated</em>
      – David Savageau (Wiley, Hoboken, 2004)
    </p>
    <p>
      <em>Road Trip USA</em>
      , 6th ed. -- Jamie Jensen (Avalon Travel, Berkeley, 2012)
    </p>
    <p>
      <em>The 100 Best Art Towns in America</em>
      – John Villani (TheCountryman Press, Woodstock, VT, 2005)
    </p>
    <p>
      <em>The Big Book of American Trivia</em>
      – J. Stephen Lang (Tyndale House, 1997)
    </p>
    <p>
      <em>The Great Towns of America</em>
      – David Vokac (West Press, San Diego, 1998)
    </p>
    <p>
      <em>The Largest U.S. Cities Named after a Food</em>
      – Brandt Maxwell (Santa Monica Press, 2004)
    </p>
    <p>
      <em>The New Roadside America</em>
      -- Mike Wilkins, Ken Smith &amp; Doug Kirby (Simon &amp; Schuster, 1992)
    </p>
    <p>
      <em>Unauthorized America: A Travel Guide to the Places the Chamber of Commerce Won’t Tell You About</em>
      – Vince Staten (Harper &amp; Row, NY, 1990)
    </p>
    <p>
      <em>Watch It Made in the USA</em>
      -- Karen Axelrod &amp; Bruce Brumberg (John Muir Press, 1997)
    </p>
    <p>
      Plus:
    </p>
    <p>
      “<em>America: Why I Love Her”</em> mural by Gary Sweeney, Denver International Airport
    </p>
    <p>
      Specific sources for “Ratings and Rankings” category were:
    </p>
    <p>
      <em>America’s Most Charming Towns &amp; Villages</em>
      – Larry T. Brown (Open Road Publishing, Cold Spring Harbor, NY, 2004)
    </p>
    <p>
      <em>Best Small Towns</em>
      – Norm Crampton (M. Evans and Company, NY, 2002)
    </p>
    <p>
      <em>Cities Ranked &amp; Rated</em>
      – Bert Sperling &amp; Peter Sander (Wiley, Hoboken, 2004)
    </p>
    <p>
      <em>Fifty Fabulous Places to Raise a Family</em>
      -- Lee Rosenberg &amp; Saralee H. Rosenberg (Career Press, 1993)
    </p>
    <p>
      <em>Places Rated Almanac</em>
      -- David Savageau &amp; Geoffrey Loftus (Macmillan, 1997)
    </p>
    <p>
      <em>Retirement Places Rated</em>
      – David Savageau (Wiley, Hoboken, 2004)
    </p>
    <p>
      <a name="_GoBack"></a>
      <em>The 100 Best Art Towns in America</em>
      – John Villani (The Countryman Press, Woodstock, VT, 2005)
    </p>
    <p>
      <em>The Great Towns of America</em>
      – David Vokac (West Press, San Diego, 1998)
    </p>
    <p>
      Main source for “Demographics” category was:
    </p>
    <p>
      <em>The Largest U.S. Cities Named After a Food and Other Mind-Boggling Geography Lists from Around the World</em>
      – Brandt Maxwell (Santa Monica Press, Santa Monica, CA, 2004)
    </p>
  </div>
</div>
